# Discord Bot Token (von https://discord.com/developers/applications)
DISCORD_TOKEN=dein_bot_token_hier


# Lavalink v4 SSL
# Public SSL Node (kann sich ändern; bei Bedarf aus https://lavalink.darrennathanael.com/SSL/Lavalink-SSL/ übernehmen)
LAVALINK_HOST=lavalink.jirayu.net
LAVALINK_PORT=443
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=true
LAVALINK_NAME=PublicSSL

# Direkte HTTPS-URL zur Musikdatei. Lavalink muss diese URL erreichen können.
LAVALINK_MUSIC_URL=https://raw.githubusercontent.com/Lukas-56376/EasyDrive_Bot/main/music.mp3
